

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tan;
}

.input {
    height: 35px;
    background-color: tan;
    grid-column: 1/5;
    grid-row: 1;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;

}

.calculator {
    background-color: antiquewhite;
    display: grid;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (repeat(4, 1fr), 65px)
    
}

.numbers{
    font-size: 22px;
    font-weight: bold;
    grid-column: 1 / 5;
    align-items: center;;
    text-align: center;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.numbers > div {
    border-radius: 13px;
    padding: 28px;
}

.numbers > div:hover {
    background: orange;
}

